{%extends "registration/base.html"%} {% load bootstrap4 %} {% load static}
{% block content %}
<body>
<div class="container">
  <div class="row">
    <!-- Empty div -->
     <div class="col-r-4 "></div>
      <div class="col-r-4 ">
      {% if form.errors %}
        <p> Please verify that the information entered is correct</p>
      {% endif %}
      <div class="card mt-2" style="width: 24rem;">
  <div class="card-body">
    <h5 class="card-title text-center">Ride</h5>
    <h6 class="card-subtitle mb-2 text-muted text-center">Sign up to book a ride/register with us as a diver and <br> enjoy our rides.</h6>
    <form  action="/accounts/register/" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="form-group">
        <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
      </div>
      <input type="hidden" name="next" value="{{next}}">
    </form>
    <p class="card-text textsize text-muted text-center">By signing up, you agree to our <br>  Terms & Privacy Policy.</p>
  </div>
</div>
<div class="card mt-1 mb-3" style="width: 24rem;"><div class="card-body">
  <p class="textsize text-center">Have an account? <a href="/accounts/login/" class="card-link blue"> Login</a></p>

</div>
</div>
    </div>
    <!-- empty div -->
    <div class="col-r-2"></div>
  </div>

</div>
</body>
{% endblock %}
