{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ride</title>
  {% block styles%}
  {% bootstrap_css%}
  <link href="{% static 'css/driver.css' %}" rel="stylesheet">
  {% endblock %}
</head>
<body>

    {% include "drivers/navbar.html" %}
      {% block content %}
      {% endblock %}


    {% block scripts %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxICagWVIgKtKRXFDx6J3iKzkvI9X1Wv0&callback=initMap">
    </script>
    <script type="text/javascript" src="{% static 'js/driver.js' %}"></script>
    <script src="https://use.fontawesome.com/15a9a436fb.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}

</body>
</html>
