{% extends 'base.html' %}
{% block content %}
<div class="stage">

  <div class=" block block-fill-height app-header ">
    <div class="block-xs-middle">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center" style="text-shadow:#000 2px 2px 15px;">
            <h1 class="block-title m-y">Find a ride anywhere in Nairobi</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">
          <h3 class="m-b-md"><strong>ride in Nairobi</strong></h3>
          <p class="lead">
            Anywhere, anytime enjoy our sweet, cheap and friendly rides.
          </p>
          {% if request.user.is_authenticated %}
          <a href="/rider/" class="btn btn-lg btn-success">Ride with us</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="block p-y-lg">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3><strong> Earn Money with ride</strong></h3>
          <p class="lead">Good ooportunities with ride, earn per ride .</p>
          {% if request.user.is_authenticated %}
          <a href="/driver/" class="btn btn-lg btn-primary">Drive with us</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="block block-inverse app-footer">
    <div class="container">
      <div class="row m-t-md">
        <div class="col-sm-12">
          <ul class="list-inline text-center">
            <li>
              <a href="#" target="blank" rel="nofollow">
                <span class="fa fa-facebook" style="font-size:3em;"></span>
              </a>
            </li>
            <li>
              <a href="#" target="blank" rel="nofollow">
                <span class="fa fa-twitter" style="font-size:3em;"></span>
              </a>
            </li>
            <li>
              <a href="#" target="blank" rel="nofollow">
                <span class="fa fa-instagram" style="font-size:3em;"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-inline text-center">
            <li>
              <p>Terms and  conditions for Riders</p>
            </li>
            <li>
              <p>General terms for Drivers</p>
            </li>
            <li>
              <p>Privacy Policy</p>
            </li>
          </ul>
          <p class="text-center m-t-md">© 2018 ride</p>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
