{% extends 'drivers/base.html' %}
{% load static %}
{% load bootstrap3 %}


{% block content %}
<div class="container">
  <div class="rider">
    <div class="row" id="row">
      <div class="col-md-2 side">
        {% if profile.profile_pic %}
        <img class="picture-circle" src="{{ profile.profile_pic.url }}">
        {% else %}
        <img class="picture-circle" src="{% static 'images/profile_placeholder.jpg' %}">
        {% endif %} <br>
        <h1 class="username">{{ user.first_name }}</h1>
        <hr>
        <a href="{% url 'drivers:profile' request.user.username%}">Profile</a>
      </div>
      <div class="col-md-8">
        <div class="row">
            <h2 class="text-center">Welcome {{ user.username }} </h2>
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#home">Pick up points</a></li>
              <li><a data-toggle="tab" href="#drivers">Passengers</a></li>
              <li><a data-toggle="tab" href="#trip">Trip</a></li>
          </ul>

            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">
                <h3>Map
                </h3>
                <div id="map"></div>
              </div>
              <div id="Pick_up" class="tab-pane fade">
                <h3>Comment</h3>
                <p>.</p>
              </div>
              <div id="drivers" class="tab-pane fade">
                <h3>Passengers</h3>
                {% for rider in riders%}
                <h1>
                  <a href="{% url 'drivers:rider_profile' rider.user.id%}">{{rider.user.username}}</a>
                </h1>
              {% endfor %}
              </div>
              <div id="trip" class="tab-pane fade">
                <div class="container">
                  <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                      {{ trip_form.current_location.label }} <br>
                      {{ trip_form.current_location }}
                      {{ trip_form.current_location.errors }}
                    </div>
                    <div class="form-group">
                      {{ trip_form.destination.label }} <br>
                      {{ trip_form.destination }}
                      {{ trip_form.destination.errors }}
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

{% endblock %}
