{% extends 'rider/base.html' %}
{% load static %}
{% block content %}
<div class="container">

  <div class="rider">
    <div class="row" id="row">
      <div class="col-md-2 side">
        {% if profile.profile_pic %}
        <img class="picture-circle" src="{{ profile.profile_pic.url }}">
        {{profile.bio}}
        {% else %}
        <img class="picture-circle" src="{% static 'images/profile_placeholder.jpg' %}">
        {% endif %} <br>
        <h1 class="username">{{ user.first_name }}</h1>
        <hr>
        <a href="{% url 'rider:profile' request.user.username%}">Profile</a>
      </div>
      <div class="col-md-8">
        <div class="row">
            <h2 class="text-center">Welcome {{ user.username }} </h2>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Pick up points</a></li>
                <li><a data-toggle="tab" href="#drivers">Drivers</a></li>
                <li><a data-toggle="tab" href="#review">Review</a></li>
              </ul>

              <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                  <h3>HOME</h3>
                  <div id="map"></div>
                </div>
                <div id="drivers" class="tab-pane fade">
                  <h3>Drivers</h3>
                  {% for driver in drivers%}
                    <h1>
                      <a href="{% url 'rider:driver_profile' driver.user.id%}">{{driver.user.username}}</a>
                    </h1>
                  {% endfor %}
                </div>
                <div id="review" class="tab-pane fade">
                  <h3>Menu 3</h3>
                  <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

</div>
{% endblock %}
